<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <!--<add name="LocalDB" connectionString="Server=localhost;Database=ordersystem;Uid=dainv;Pwd=dainv;" providerName="System.Data.SqlClient" />-->
    <add name="LocalDB_1"
         connectionString="Server=localhost;Database=ordersystem;Uid=dainv;Pwd=dainv;CharSet=utf8" />
    <add name="LocalDB_2"
         connectionString="Server=192.168.1.11;Database=order_test;Uid=dotnetmq;Pwd=1;CharSet=utf8" />

    <add name="LocalDB_server"
         connectionString="Server=192.168.1.91\sqlexpress;Database=erptest;Uid=akbadmin;Pwd=admin_1564;" />
    <add name="LocalDB"
         connectionString="Server=localhost;Database=master;Uid=sa;Pwd=sa;" />
  </connectionStrings>

  <appSettings>
    <add key="ROW_BUFFER" value="100000"/>

    <add key="DB_HELPER" value="SQLServer"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>